%animation {
  transition: all 0.4s ease;
}
%text-pf-mb {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 12px;
}
%btnc {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 12px 35px;
  line-height: 1.5;
  transition: all 0.15s ease-in-out;
}
%border-animation {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
    transition: 0.5s ease;
    border-left: 5px solid $primary-color;
    border-right: 5px solid $secondary-color;
    transform: scaleY(0);
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    border-bottom: 5px solid $secondary-color;
    border-top: 5px solid $primary-color;
    transform: scaleX(0);
  }

  &:hover::before {
    transform: scaleY(1);
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
