$font-stock: "Roboto", sans-serif;
$heading-color: #363636;
$text-color: #a0a0a0;
$primary-color: #f69165;
$secondary-color: #00cce1;
$section-color: #f9f9f9;
$border-color: #ebebeb;
$footer-color1: #1b1b1b;
$footer-color2: #727272;
$footer-color3: #323232;
$footer-color4: #252525;
